<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--tab name-->
    <title>Soccer Scores</title>

    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="bg-dark text-white">

    <div class="container mt-5 text-center">
        <!--centered text-->
        <h1>Soccer Scores</h1>

        <!--creates the columns of leagues to click-->
        <div class="row mt-4">
            <div class="col-md-8 offset-md-2">
                <div class="mb-4">
                    <a href="/prem" class="btn btn-light btn-block">Premier League</a>
                </div>
                <div class="mb-4">
                    <a href="/laliga" class="btn btn-light btn-block">LaLiga</a>
                </div>
                <div class="mb-4">
                    <a href="/bundesliga" class="btn btn-light btn-block">Bundesliga</a>
                </div>
                <div class="mb-4">
                    <a href="/ligue1" class="btn btn-light btn-block">Ligue 1</a>
                </div>
                <div>
                    <a href="/serieA" class="btn btn-light btn-block">Serie A</a>
                </div>
            </div>
        </div>
        <!--Image of the 5 leagues-->
        <div class="row mt-4">
            <div class="col-md-12">
                <img src="https://tiermaker.com/images/templates/european-football-soccer-leagues-tier-list-15276036/152760361660567791.jpg" class="img-fluid mx-auto d-block" alt="Centered Image">
            </div>
        </div>
    </div>

</body>
</html>
